@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/bootstrap-variables";

.sources {
    margin: {
        top: 6.4rem;
        bottom: 6.4rem;
    };
}

.legals {
    font: {
        size: 1.2rem !important;
    };
}

.homeCard {
    display: flex;

    &-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 2rem;
    }

    &-content {

    }


    &-actions {

    }
}
