@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/bootstrap-variables";

.rdvForm {
    &-fields {
        max-width: 75vw;
        margin: auto;

        @include media-breakpoint-up(xl) {
            max-width: 45vw;
        }
    }
}
.resultats {
  .tri {
    display: flex;
    padding: 0;
    margin: 0 0 2em 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .radio-input {
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }

    label {
      cursor: pointer;
    }
    input[disabled] + label {
      text-decoration: line-through;
      opacity: 80%;
    }

    .radio-input {
      input[type=radio] {
        opacity: 0;
        width: 0;
        height: 0;
      }
      label {
        border-bottom: 1px solid transparent;
        padding: 0 1em .3em;
      }
      input:checked + label {
        border-color: $primary;
      }
    }
  }

}

