@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/bootstrap-variables";

.rdvPlatformLogo {
  max-width: 8rem;
  max-height: 5rem;

  &._doctolib {
  }
  &._maiia {
  }
  &._ordoclic {
  }
  &._keldoc {
  }
  &._pandalab {
  }
  &._mapharma {
    max-width: 10rem;
  }
}

.card {
  max-width: 75vw;
  margin: auto;

  .distance {
    font-weight: lighter;
    font-size: 80%;
  }

  &.clickable {
    &:hover {
      background-color: darken($card-bg, 3%);
    }
    cursor: pointer;
  }

  @include media-breakpoint-up(xl) {
    max-width: 55vw;
  }


  opacity: 1;
  animation: fade-in ease-in 200ms;
  animation-fill-mode: backwards;
  animation-delay: calc((var(--list-index) * 60ms) + 50ms);
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: saturate(0%);
  }
  to {
    opacity: 1;
    filter: saturate(100%);
  }
}

.doses-dipos {
  font-style: italic;
  font-size: 1.5rem;
}
