.searchAppointment {
    &-logo {
        margin: {
            top: 1.6rem;
            right: 3.2rem;
            bottom: 1.6rem;
            left: 3.2rem;
        };

        &._doctolib {
            max-height: 6rem;
        }

        &._maiia {
            max-height: 6.5rem;
        }

        &._keldoc {
            max-height: 6rem;
        }

        &._ordoclic {
            max-height: 4.5rem;
        }
        &._pandalab {
            max-height: 9.5rem;
        }
        &._mapharma {
            max-height: 5rem;
        }
    }
}
