@import 'bootstrap/scss/functions';
@import "bootstrap-variables";


$stdColor: $primary;
$lightStdColor: tint-color($stdColor, 85%);
$highlightedColor: $secondary;
$lightHighlihtedColor: tint-color($highlightedColor, 90%);
