@font-face {
  font-family: 'fontello';
  src: url('/assets/fonts/fontello/fontello.eot?5565391');
  src: url('/assets/fonts/fontello/fontello.eot?5565391#iefix') format('embedded-opentype'),
  url('/assets/fonts/fontello/fontello.woff2?5565391') format('woff2'),
  url('/assets/fonts/fontello/fontello.woff?5565391') format('woff'),
  url('/assets/fonts/fontello/fontello.ttf?5565391') format('truetype'),
  url('/assets/fonts/fontello/fontello.svg?5565391#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5565391#fontello') format('svg');
  }
}
*/

[class^="vmdicon-"]:before, [class*=" vmdicon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.vmdicon-ok-circled2:before { content: '\e800'; } /* '' */
.vmdicon-syringe:before { content: '\e801'; } /* '' */
.vmdicon-phone:before { content: '\e802'; } /* '' */
.vmdicon-commerical-building:before { content: '\e811'; } /* '' */
.vmdicon-location:before { content: '\f031'; } /* '' */
.vmdicon-calendar-times-o:before { content: '\f273'; } /* '' */
.vmdicon-calendar-check-o:before { content: '\f274'; } /* '' */
