@import 'bootstrap/scss/functions';
@import "bootstrap-variables";
@import 'bootstrap/scss/bootstrap';

@import "bootstrap-additional";

@import "bootstrap-icons/font/bootstrap-icons.css";

//$base-color: #ffbf16;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: {
        bottom: 3.2rem;
    };
}

.spacer {
    height: 0;
    line-height: 0;
}

h1 {
    font-size: 180%;
    margin-top: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 130%;
    margin-top: 40px;
    margin-bottom: 10px;
}