@import 'bootstrap/scss/functions';
@import "bootstrap-variables";
@import 'bootstrap/scss/bootstrap';

@import "bootstrap-additional";

@import "./fontello-icons";
@import "./global-variables";

//$base-color: #ffbf16;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: {
        bottom: 3.2rem;
    };
}

footer {
    margin: {
        top: 12rem !important;
    };
    color: $gray-500;
}

.spacer {
    height: 0;
    line-height: 0;
}

h1 {
    font-weight: bold;
}

select[required]:invalid {
    color: $gray-600;
}

.search-chronodose {
    .btn-primary {
        background-color: $chronodoseColor;
        border-color: $chronodoseColor;
    }
    .btn-primary.disabled {
        background-color: tint-color($chronodoseColor, 20%);
    }
}
.search-standard {
    .btn-primary {
        background-color: $stdColor;
        border-color: $stdColor;
    }
    .btn-primary.disabled {
        background-color: tint-color($stdColor, 20%);
    }
}

.bg-chronodose {
    background-color: $lightChronodoseColor;
}
.bg-std {
    background-color: $lightStdColor;
}
.text-chronodose {
    color: $chronodoseColor;
}
.text-std {
    color: $stdColor;
}
