@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "../styles/bootstrap-variables";

.rdvForm {
    &-fields {
        max-width: 75vw;
        margin: auto;

        @include media-breakpoint-up(xl) {
            max-width: 65vw;
        }
        @include media-breakpoint-up(md) {
            label, select, input {
                font-size: 2.4rem;
            }
        }
    }
}
.resultats {
    .tri {
        display: flex;
        padding: 0;
        margin: 0 0 3em 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .radio-input {
            margin-left: 1em;
            &:first-child {
                margin-left: 0;
            }
        }

        label {
            cursor: pointer;
        }
        input[disabled] + label {
            text-decoration: line-through;
            opacity: 80%;
        }

        .radio-input {
            input[type=radio] {
                opacity: 0;
                width: 0;
                height: 0;
            }
            label {
                border-bottom: 1px solid transparent;
                padding: 0 1em .3em;
            }
            input:checked + label {
                border-color: $primary;
            }
        }
    }

    .tri {
        position: relative;
        .blocked-geo, .geo-indispo {
            transition: opacity 500ms;
            opacity: 0;
            font-size: 80%;
            color: $info;
            position: absolute;
            top: calc(100% + .5em);
            width: 100%;
            text-align: center;
        }
        .blocked-geo.displayed, .geo-indispo.displayed {
            opacity: 1;
        }
    }

}

.eligibility-criteria {
    position: fixed;
    bottom: 0;
    left: 0;
    color: $red;
    width: 100%;
    background-color: $pink-100;
    text-align: center;
    vertical-align: center;

    p {
        margin: .5em;
    }
}

vmd-appointment-card {
    display: block;
    opacity: 1;
    animation: fade-in ease-in 200ms;
    animation-fill-mode: backwards;
    animation-delay: calc((var(--list-index) * 60ms) + 50ms);

    @keyframes fade-in {
        from {
            opacity: 0;
            filter: saturate(0%);
        }
        to {
            opacity: 1;
            filter: saturate(100%);
        }
    }
}

